<ion-header>
  <ion-toolbar>
    <ion-title>my-monsters-update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <form [formGroup]="updateMonsterFg" (ngSubmit)="onSubmit()">
      
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Weakness</ion-label>
        <ion-input formControlName="weakness" type="text" required>
        </ion-input>
      </ion-item>      

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Reemplazar</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
  </ion-list>
</ion-content>
