<ion-header>
  <ion-toolbar>
    <ion-title>Create Monster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <form [formGroup]="monsterForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Weakness</ion-label>
        <ion-input formControlName="weakness" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Url of image</ion-label>
        <ion-input formControlName="url" type="text" required></ion-input>
      </ion-item>

      <!-- Imagen de prueba Akantor -->
      <!-- https://i.pinimg.com/originals/84/80/62/848062530f6e44291e5591aab3ffd72c.png -->

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Añadir</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>